body {
	margin: 0;
}

img {
	max-width: 100%;
}

.App {
	background: var(--color-essential);
	color: var(--color-typo-primary);
	font-family: var(--typography-controls-font-family);
	min-width: 500px;

	--app-header-size: 60px;

	/* TODO: move to tokens */

	--typography-controls-indent-2xl: 1rem;
	--typography-controls-indent-3xl: 1.2rem;

	/* Surfaces colors */
	--color-fill-color-header:
		var(
			--color-control-type-blank-fill-color-disabled
		);
	--color-fill-color-navigation: var(--color-fill-color-stripe);
	--color-fill-color-footer: var(--color-fill-color-stripe);

	/* Code */
	--color-control-code-fill-color-base:
		var(
			--color-control-type-default-fill-color-disabled
		);
	--color-control-code-typo-base: var(--color-control-type-default-typo-base);

	/* --color-fill-color-reader: var(--color-fill-color-stripe); */
}

.App-Container {
	max-width: 1200px;
	margin: 0 auto;
}

.App-Header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	padding: 10px;
	height: var(--app-header-size);
	box-sizing: border-box;
	background: var(--color-fill-color-header);
	z-index: 100;
	line-height: 40px;
}

.App-Header .App-Container {
	display: flex;
}

.App-ThemePicker {
	display: inline-block;
}

.App-Search {
	display: inline-block;
	line-height: 100%;
}

.App-HeadContainer_position_right {
	margin-left: auto;
}

.App-Logo > * {
	height: 40px;
}

.App-HeadContainer_horizontalIndent > *:not(:last-child) {
	margin-inline-end: var(--typography-controls-indent-l);
}

.App-Layout {
	margin-top: var(--app-header-size);
	min-height: calc(100vh - var(--app-header-size));
}

.App-Logo {
	display: inline-flex;
	vertical-align: middle;

	/* Placeholder */

	/* background:
		url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none"  viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><rect x="0" y="0" width="5" height="5" fill="grey" /><rect x="5" y="5" width="5" height="5" fill="grey" /><rect x="5" y="0" width="5" height="5" fill="white" /><rect x="0" y="5" width="5" height="5" fill="white" /></svg>')
		0 0; */

	background-size: 10px 10px;
	margin-right: 1.2rem;
}

.App-InlineDivider {
	display: inline-block;
	width: 4px;
	background-color: var(--color-typo-primary);
	margin: 0 var(--typography-controls-indent-m);
	height: 4px;
	vertical-align: middle;
	border-radius: 50%;
}

.App-HeaderLink {
	font-weight: bold;
}

.App-Spinner {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
}
