.Spinner_view_primitive {
	display: none;
	vertical-align: middle;
	box-sizing: border-box;
}

.Spinner_view_primitive::after {
	visibility: hidden;
	content: '\00A0';
}

.Spinner_view_primitive.Spinner_progress {
	display: inline-block;
	border:
		var(--spinner-view-primitive-border-width) solid
		var(--spinner-view-primitive-border-color-common);
	border-top-color: var(--spinner-view-primitive-border-color-active);
	border-radius: 50%;
	animation-name: Spinner-Spin;
	animation-duration: var(--spinner-animation-duration);
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: var(--spinner-animation-delay);
}
