{
	"*.{js,ts,tsx}": [
		"prettier --write",
		"eslint --fix",
		"stylelint --fix --allow-empty-input"
	],
	"*.md": [
		"prettier --write --parser markdown",
		"textlint --fix"
	],
	"*.json": [
		"prettier --write --parser json"
	],
	"*.yml": [
		"prettier --write"
	]
}