.Textinput_size_s {
	font-size: var(--textinput-size-s-font-size);
}

/* Control */
.Textinput_size_s .Textinput-Control {
	font-size: var(--textinput-size-s-font-size);
	line-height: var(--textinput-size-s-line-height);
	padding: var(--textinput-size-s-control-indent);
}

/* Clear */
.Textinput_size_s .Textinput-Clear {
	margin: 0 var(--textinput-size-m-clear-indent);
}

/* Hint */
.Textinput_size_s .Textinput-Hint {
	font-size: var(--textinput-size-s-hint-font-size);
	margin-top: var(--textinput-size-s-hint-indent);
}
