.Checkbox_view_default.Checkbox_focused.Checkbox_focusVisible .Checkbox-Box {
	box-shadow:
		0 0 0 var(--checkbox-outline-width)
		var(--checkbox-outline-color);
}

.Checkbox_view_default.Checkbox_checked.Checkbox_focused.Checkbox_focusVisible .Checkbox-Box {
	box-shadow:
		0 0 0 var(--checkbox-outline-width)
		var(--checkbox-box-checked-outline-color);
}

.Checkbox_view_default .Checkbox-Control,
.Checkbox_view_default .Checkbox-Label {
	cursor: pointer;
}
