.Icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 50%;
}

/**
 * For correct positioning relative baseline.
 * Height of block define by inherit line-height.
 */
.Icon::after {
	visibility: hidden;
	content: '\00A0';
}
