.Layout {
	display: flex;
}

.Page {
	box-sizing: border-box;
	width: 100%;
	min-width: 300px;
}

.Content {
	padding: 1rem 2rem;
}

.Footer {
	/* stylelint-disable plugin/no-unsupported-browser-features */
	position: sticky;
	/* stylelint-enable plugin/no-unsupported-browser-features */
	top: 100%;
	padding: 2rem;
	background-color: var(--color-fill-color-footer);
}

.Navigation {
	position: relative;
	min-width: 200px;
	min-height: calc(100vh - 60px);
	background-color: var(--color-fill-color-navigation);
}

.Navigation::before {
	position: absolute;
	display: block;
	content: ' ';
	top: 0;
	left: -100vw;
	width: 100vw;
	height: 100%;
	background: inherit;
}

.Navigation-Container {
	/* stylelint-disable plugin/no-unsupported-browser-features */
	position: sticky;
	/* stylelint-enable plugin/no-unsupported-browser-features */
	width: inherit;
	top: 60px;
	bottom: 0;
	overflow: auto;
	padding:
		var(--typography-controls-indent-m)
		var(--typography-controls-indent-xl) var(--typography-controls-indent-m)
		0;
	box-sizing: border-box;
	max-height: calc(100vh - 60px);
}
