.Divider {
	border: 0;
	height: 2px;
	background-color: var(--color-control-border-color-shadow);
}

.Divider_size_m {
	margin: var(--typography-controls-indent-m) 0;
}

.Divider_size_l {
	margin: var(--typography-controls-indent-3xl) 0;
}
